* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet", Helvetica, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    padding-top: 30px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;  
    text-indent: -3000px;  
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#topo ul { /*Editar a ul que está dentro do ID TOPO*/
    margin-top: 30px; /*Espaçar a lista da logo*/
    background: #b10333;
    float: left; /*Para não perdermos o background devemos colocar o float da UL igual ao do LI*/
}

#topo ul li { /*Selecionar os LI que estão dentro de UL que estão dentro do TOPO*/

    float: left; /*Para horizontar, aplicamos float na LI*/
}

#topo ul a { /*links que estão dentro da ul que está dentro do topo*/

    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em; /*Separar os links e aumentar os espaços superiores*/
    line-height: 2.1em; /*aumentar mais a altura da barra*/
    text-decoration: none; /*remover sublinhado*/
    color: white; /*cor da fonte*/
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{ /*Formatar link que tem a class primeiro que está na ul do topo*/
    background: none;
}

#topo ul a:hover { /*formatar os links que estão em UL do TOPO quando passamos o mouse em cima*/
    color: #69001d;
}

body.home #Navegação-topo a#home, 
body.brasil #Navegação-topo a#brasil,
body.internacional #Navegação-topo a#internacional,
body.economia #Navegação-topo a#economia,
body.saude #Navegação-topo a#saude,
body.ciencia #Navegação-topo a#ciencia,
body.fotos #Navegação-topo a#fotos
{ /*Selecionar a class home aplicada ao body, em seguida selecionar a navegação e o id home que está no link*/
    color: #fff;
    background: #de003e;
}

/*Configuração layout de três colunas*/

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

/*A coluna primaria e secundaria terá largura de 270px, e a lateral terá 180px, 270+270+180=720, o container term 750px, sobram 30px para trabalhar no espaçamento, como será 3 colunas, 15 px de espaçamento entre colunas. (15+15=30px restante)*/


/*A ordem ficaria primario>secundario>lateral, para colocarmos a lateral do lado esquerdo, devemos empurrar com a margin até a lateral dar a volta na página, como pode ser visto no código abaixo*/

h2 {
    font-size: 1.2em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#lateral ul a {
    text-decoration: none;
    list-style: none;
    padding: 3px; /*Espaçar um pouco o texto da borda*/
    line-height: 30px; /*Altura da caixa sem mexer no tamanho da font*/
    display: block;
    color: black;
    font-size: 0.9em;
}

#lateral ul a:hover {
    text-decoration: none;
    list-style: none;
    padding: 3px; /*Espaçar um pouco o texto da borda*/
    padding-left: 20px; /*Mover texto selecionado para o lado*/
    line-height: 30px; /*Altura da caixa sem mexer no tamanho da font*/
    display: block;
    color: #a1a1a1;
    font-size: 0.9em;
    background: url(../img/marcador.png) no-repeat left center;
}

label {
    display: block;
    cursor: pointer;
    margin: 5px 0 5px 0;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background: white;
    border: 1px solid #a5cdf8;
}

input.submit { /*Botão de enviar forms*/
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 1px;    
}

.caixa { /*Criamos uma box de conteúdo pois todos serão iguais*/
    margin: 10px 0;
    padding: 5px;
}

#primario { /*O primario seguirá um padrão e as vertentes não precisa repetir as características padrões*/
    width: 270px;
    float: left;
    margin: 0 0 20px 195px; /*195 para dar espaço para a coluna lateral que tem 180 + 15 de espaço entre elas*/
}

#lista-noticias li {
    padding: 2px;
    height: 65px;
}

#lista-noticias li a img{ /*Posicionamos para a esquerda com o float e centralizamos melhor com a margin*/
    float: left;
    margin: 3px;
    width: 80px;
}

#lista-noticias li a{ 
    text-decoration: none;
}

#lista-noticias li a h3{ 
    font-size: 0.7em;
    color: #3e7ab9;
    float: left;
    position: static;
    display: contents;
}

#lista-noticias li a p{ 
    font-size: 0.7em;
    color: black;
}

#lista-noticias li:hover{ 
    text-decoration: none;
    background: #f0f0f0;
}


/*#lista-noticias h3 {
    border: 1px solid red;
}*/


#duas-colunas #primario { /*o primario dentro do id duas colunas*/
    width: 555px; /*Só altera a largura*/
}

/*duas coluna e uma coluna são as vertentes*/

#uma-coluna #primario { /*o primario dentro do id duas colunas*/
    width: 100%;
    margin: 0 0 20px; /*Altera a largura e margin*/
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px; /*Ordem de colocação: top > right > bottom > left*/
}

#secundario h3 {
    position: relative;
    left: 25%;
}

/*Podemos usar também display inline e centralizar com margin*/

#primario h3 {
    position: relative;
    left: 5%;
}

h3 {
   text-transform: uppercase;
   display: inline;
   padding: 2px;
   letter-spacing: -0.4px;
   font-size: 0.9em;
}

#primario h2 { /*criando uma classe e colocando o h2 NA FRENTE, podemos usar várias class na mesma div, então todos os h2 que estiverem dentro da div com a class terá a formatação.*/
    text-align: center;
}

#secundario h2 { /*criando uma classe e colocando o h2 NA FRENTE, podemos usar várias class na mesma div, então todos os h2 que estiverem dentro da div com a class terá a formatação.*/
    text-align: center;
}

.destaque h3 { /*criando uma classe e colocando o h3 NA FRENTE, podemos usar várias class na mesma div, então todos os h3 que estiverem dentro da div com a class terá a formatação.*/
    background: rgb(170, 0, 0);
    color: white;
}

/*Criei uma classe "conteudo-colunas" para formatar os links e paragráfos de forma padrão em todos os conteúdos das colunas principais.*/

.conteudo-colunas a{
    color: #970000;
    display: block;
    text-align: center;
} 

.conteudo-colunas p {
    display: block;
    text-align: center;
}

img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal{
    border: 3px solid #dfdfdf;
    width: 98%;
}

#container-rodape { 
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
    font-size: 13px;
}